@import url(https://fonts.googleapis.com/css?family=Khula:700);



/* Define your elegant showy text class */
.elegant-showy-text {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #f5e8f5;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.gradient-custom {
    background: #cb1111;
    background: -webkit-linear-gradient(to right, rgba(239, 139, 99, 0.9), rgba(37, 117, 252, 0.9));
    background: linear-gradient(to right, rgba(203, 17, 17, 0.425), rgba(37, 117, 252, 0.9));
}
.gradient-custom:hover {
    background: #112dcb;
    background: -webkit-linear-gradient(to right, rgba(239, 139, 99, 0.9), rgba(37, 117, 252, 0.9));
    background: linear-gradient(to right, rgba(57, 17, 203, 0.425), rgba(252, 173, 37, 0.44));
}

.headerLinkAnimation {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 10px;
    position: relative;
}

.headerLinkAnimation:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.headerLinkAnimation:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}