.typewriter-container {
    display: inline-block;
    white-space: nowrap;
}

.home_container {
    min-height: 85vh;
    width: 100%;
}

.home_container .home_innerdiv {
    display: flex;
    justify-content: space-between;
}

.home_container .home_innerdiv .left_div {
    margin-top: 95px;
    max-width: 500px
}

.home_container .home_innerdiv .right_div img {
    width: 480px
}
.paragraph{
    background-color: rgba(255, 255, 255, 0.197);
    border-radius: 30px;
    padding: 20px;
}

.button23 {
    width: 160px;
    height: 60px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(
        325deg,
        #3838ff 0%,
        rgb(156, 231, 253) 55%,
        #3838ff 90%
    );
    border: none;
    border-radius: 10px;
    color: hsla(360 100% 100% / 1);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5),
      0px 5px 5px -1px rgba(58, 125, 233, 0.25),
      inset 4px 4px 8px rgba(175, 230, 255, 0.5),
      inset -4px -4px 8px rgba(19, 95, 216, 0.35);
    font-weight: bold;
}
.button23:hover {
    background-position: right top;
}
.button23:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px hsla(360 100% 100% / 1), 0 0 0 6px #3838ff;
}

@media (max-width:995px) {
    .home_container .home_innerdiv {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home_container .home_innerdiv .left_div {
        margin-top: 95px;
        max-width: 630px;
        margin: 60px auto
    }

    .home_container .home_innerdiv .right_div img {
        max-width: 680px
    }
}

@media (max-width:568px) {
    .home_container .home_innerdiv {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .home_container .home_innerdiv .left_div {
        margin-top: 95px;
        max-width: 630px;
        margin: 60px auto
    }

    .home_container .home_innerdiv .right_div img {
        max-width: 380px
    }
}


@media (max-width:400px) {
    .home_container .home_innerdiv .right_div img {
        max-width: 280px
    }
}

.btn-resume, .button23 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn:hover {
    color: #ffffff;
    background-color: #4b62c4;
}