.typewriter-container {
    display: inline-block;
    white-space: nowrap;
}

.home_container {
    min-height: 85vh;
    width: 100%;
}

.home_container .home_innerdiv {
    display: flex;
    justify-content: space-between;
}

.home_container .home_innerdiv .left_div {
    margin-top: 95px;
    max-width: 500px
}

.home_container .home_innerdiv .right_div img {
    width: 480px
}


@media (max-width:995px) {
    .home_container .home_innerdiv {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home_container .home_innerdiv .left_div {
        margin-top: 95px;
        max-width: 630px;
        margin: 60px auto
    }

    .home_container .home_innerdiv .right_div img {
        max-width: 680px
    }
}

@media (max-width:568px) {
    .home_container .home_innerdiv {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .home_container .home_innerdiv .left_div {
        margin-top: 95px;
        max-width: 630px;
        margin: 60px auto
    }

    .home_container .home_innerdiv .right_div img {
        max-width: 380px
    }
}


@media (max-width:400px) {
    .home_container .home_innerdiv .right_div img {
        max-width: 280px
    }
}

.btn {
    transition: all .5s ease;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    padding: 10px;
    outline:#4b62c4;
    border-radius: 4px;
    background-color: #fff;
    color: black;
    border-color: #4b62c4;
    border-radius: 20px;
}
.btn:hover {
    color: #ffffff;
    background-color: #4b62c4;
}